In [86]:
### custom date class
class date:
    months = ['default','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October'\
             ,'November', 'December']
        
    def __init__(self,_1=0, _2=0, _3=0,format='%d/%m/%y', word=False):
        assert type(_1) == type(1), "Error: must be an integer"
        assert type(_2) == type(1), "Error: must be an integer"
        assert type(_3) == type(1), "Error: must be an integer"

        assert type(format) == type("string"), "format parameter must be a string"
        assert len(format) == 8, "length of format parameter must be 8 characters"
        
        f = format
        import re #import regex

        # creating our list of indices from format 
        f = re.split("\W", f)

        # format assertions
        assert f[1] in ['d', 'm', 'y'], "format string wrong. check index 1"
        assert f[3] in ['d', 'm', 'y'], "format string wrong. check index 3"
        assert f[5] in ['d', 'm', 'y'], "format string wrong. check index 5"
        
        # dictionary for reference
        d = {f[1]: _1, f[3]: _2, f[5]: _3}
        


        self.__day, self.__month, self.__year = self.__validate(d['d'], d['m'], d['y'])
        self.format = format
        self.__word = word
        
        self.__evaluate_date()
    
    
    def __dayh(self, digit):
        if int(digit) == 1:
            return 'st'
        elif int(digit) == 2:
            return 'nd'
        elif int(digit) == 3:
            return 'rd'
        else:
            return 'th'
    
    def __str__(self):
        
        if self.__word:
            return self.months[int(self.__month)] + ' ' + self.__day + self.__dayh(str(self.__day)[-1]) + ', ' + self.__year
        else:
            string = self.format
            string = string.replace("%d", str(self.__day))
            string = string.replace("%m", str(self.__month))
            string = string.replace("%y", str(self.__year))
            return string
    
    def __validate(self,dd,mm,yy):
        
        ####validations follow####
        if len(str(dd)) > 2:
            raise ValueError('Invalid day value. Length exceeded.')
        
        if len(str(mm)) > 2:
            raise ValueError('Invalid month value. Length exceeded.')
        
        # if len(str(yy)) < 4:
        #     raise ValueError('Invalid year value. Length exceeded.')
            
        max1=0
        if(mm==1 or mm==3 or mm==5 or mm==7 or mm==8 or mm==10 or mm==12):
            max1=31
        elif(mm==4 or mm==6 or mm==9 or mm==11):
            max1=30
        elif(yy%4==0 and yy%100!=0 or yy%400==0):
            max1=29
        else:
            max1=28
        
        if mm<1 or mm>12:
            raise ValueError('Invalid month value. Accepted range [1,12]')
        elif dd<1 or dd>max1:
            raise ValueError('Invalid day value.')
        
        ####Validations end here#####
        return str(dd),str(mm),str(yy)
        
    
    def __evaluate_date(self):
        if len(self.__day) != 2:
            self.__day = '0' + self.__day
        if len(self.__month) != 2:
            self.__month = '0' + self.__month
    
    
    def toggle_word(self):
        if self.__word:
            self.__word = False
        else:
            self.__word = True
            
        return self
    
    def __getitem__(self, key):
        """
        Key reference:-
            name  | key 
            -------------
            day   | 'd', 'day', 0
            month | 'm', 'month', 1
            year  | 'y', 'year', 2

        EXAMPLE USAGE:-
        Suppose you want to get the month value.
            >>> x = date(19/2/1998)
            >>> x['month']
            [out]: '02'

            >>> x['m']
            [out]: '02'

            >>> x[1]
            [out]: '02'
            
        """
        if key in ['d', 0, 'day', -3]:
            return self.__day
        elif key in ['m', 1, 'month', -2]:
            return self.__month
        elif key in ['y', 2, 'year', -1]:
            return self.__year
        else:
            raise ValueError("Key value is wrong.")
        
        
    def __setitem__(self, key, value):
        """
         Key reference:-
            name  | key 
            -------------
            day   | 'd', 'day', 0
            month | 'm', 'month', 1
            year  | 'y', 'year', 2
        """
        d = int(self.__day)
        m = int(self.__month)
        y = int(self.__year)
        
        if key in ['d', 0, 'day', -3]:
            self.__day, self.__month, self.__year = self.__validate(value, m, y)
        elif key in ['m', 1, 'month', -2]:
            self.__day, self.__month, self.__year = self.__validate(d, value, y)
        elif key in ['y', 2, 'year', -1]:
            self.__day, self.__month, self.__year = self.__validate(d, m, value)
        else:
            raise ValueError("Key value is wrong.")
        
        self.__evaluate_date()
        

    def to_date(value, format='%d/%m/%y'):
        """
            Convert the date in string to date format
        """
        
        if format[2] not in value:
            raise ValueError("wrong format in string. Use correct `format`.")
        
        d, m, y = value.split(format[2])
        newd = date(int(d), int(m), int(y), format=format)

        return newd

### Initialisation

to initialise a date class it requires that you at least give it three inputs of `day`, `month` and `year` to have a non-trivial date. Even if you did not give values the validation methods built in the date class will raise errors for the defaulting integer values of the parameters. Let's intialise a variable `birthday` with value "19th February 1998"

In [87]:
birthday = date(19,2,1998)
print(birthday)

19/02/1998

In the simplest form of initialization, we only require three parameters with the order of input being day, month and year. There are two more parameters that can be set during initialization.
-   **word** : This decides whether month be printed in numeric form or word form
-   **format** :  This is a python string used to set numerical form date print format. Default value is `"%d/%m%/%y"`

Below are some instances with aforementioned parameters.

In [88]:
joining_day = date(8, 5, 2019, word=True)
print(joining_day)

May 08th, 2019

In the above code cell, setting `word` to `True` leads to changing the print format of the date object to word form. It overrides whatever `format` value has been given as input. Here is another example which demonstrates the use of `format` variable

In [89]:
independence_day = date(15, 8, 1947, format="%d-%m-%y")
print(independence_day)

15-08-1947

What if we change the order of the date sequence in the `format`? Let's see:-

In [90]:
rand_date = date(1, 22, 1998, format="%m/%d/%y")
print(rand_date)

01/22/1998

In the above code cell, the date format has the month before the day. So the printed string for numeric form also prints the month value first and then the day. We can make the date's values swap places using the `format` parameters but make sure that the format follows date-time conventions.

### Accessing internal elements of the `date` object

You cannot simply call `x.__day` to access `day` element of the `date` object. This will generate error.

In [91]:
x = date(19,2,1998)
x.__day

AttributeError: 'date' object has no attribute '__day'

Intead of this we have a way to access the date components using an `index` of sort. We have a function for this.

Run `?date.__getitem__` and read its docstring. It has a key reference as well as example usage. Take a look:-

In [92]:
?date.__getitem__

Signature: date.__getitem__(self, key)
Docstring:
Key reference:-
    name  | key
    -------------
    day   | 'd', 'day', 0
    month | 'm', 'month', 1
    year  | 'y', 'year', 2

EXAMPLE USAGE:-
Suppose you want to get the month value.
    >>> x = date(19/2/1998)
    >>> x['month']
    [out]: '02'

    >>> x['m']
    [out]: '02'

    >>> x[1]
    [out]: '02'

File:      c:\users\karti\appdata\local\temp\ipykernel_184\1141312012.py
Type:      function

You can also change these values. Below code cell demonstrates this:-

In [95]:
bday = date(19,2,1998)
print("Old value: ", bday)

# replace `day` with another value
bday[0] = 28
print("New value: ", bday)

Old value:  19/02/1998
New value:  28/02/1998

### Toggling between numeric and word formats

One can change the format of print of the date object by calling the `date.toggle_word` method. This method returns a new `date` object with changed print format. This will switch the print format of the `date` object. For instance:-

In [98]:
bday = bday.toggle_word()
print("Toggled to word format: ", bday)
bday = bday.toggle_word()
print("Toggle back to numeric form: ", bday)

Toggled to word format:  28/02/1998
Toggle back to numeric form:  February 28th, 1998

### Usecase

One use case of date class is in the form of tabulation data in real life. Say we have tabular data of a bunch of students with some information such as student IDs, names, scores, date of births, date of joining, etc. The date columns can be of string format and can be converted to datetime format from pre-existing form of the table in some format Or data can be generated in date format directly while making tabulation data using date class in python.

Keeping this use case in mind I will keep making modification sto `date` class to suit it. Right now I have an idea to initialise the date object with just a string date time.

Below I have defined some variables for our use case. I have then filled them in to the DataFrame from pandas module. As can be seen the date object sits well in there. :)

Doing this can be helpful as we might want to perform some operations that are specific to the `date` class. What if I want to shift the year by 1? Is there a way to achieve this? I will keep adding methods into the `date` class to solve these problems.

In [74]:
import pandas as pd
import numpy as np

In [75]:
names = {0: 'Karry', 1:'Porni', 2:'Ajanta', 3:'Kali', 4:'Rico'}
sids = {0: 1, 1: 3, 2: 5, 3: 9, 4: 10}
dobs = {0: date(19,2,1998), 1: date(20,12,1997), 2: date(31, 5, 1998), 3: date(12, 10, 1998), 4:date(9, 12, 1997)}

In [76]:
pd.DataFrame({"names":names, "sids":sids, "dobs":dobs})

    names  sids        dobs
0   Karry     1  19/02/1998
1   Porni     3  20/12/1997
2  Ajanta     5  31/05/1998
3    Kali     9  12/10/1998
4    Rico    10  09/12/1997

### Converting `str` dates to `date` dates

Converting dates in string format to standard `date` class format can be done like so:-

In [77]:
birthday = "19/2/1998"
birthday_std = date.to_date(birthday)
print("Numeric form:", birthday_std)
print("Word form:", birthday_std.toggle_word())

Numeric form: 19/02/1998
Word form: February 19th, 1998

The default format accepted for string dates is `"%d/%m/%y"`. If there is a mismatch, then error arises. For instance:-

In [78]:
joining_date = "14-5-2020"
joining_date_std = date.to_date(joining_date)
print(joining_date_std)

ValueError: wrong format in string. Use correct `format`.

As can be seen above, we have not changed the `format` parameter for right conversion. We must add `format="%d-%m-%y"` in the function call above to make it work.

In [79]:
joining_date = "14-5-2020"
joining_date_std = date.to_date(joining_date, format="%d-%m-%y")
print("Numeric form:",joining_date_std)
print("Word form:", joining_date_std.toggle_word())

Numeric form: 14-05-2020
Word form: May 14th, 2020