In [4]:
### custom date class
class date:
    months = ['default','January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October'\
             ,'November', 'December']
    
    def __init__(self,day=0,month=0,year=0,format='%d/%m/%y', word=False):
        
        self.__day, self.__month, self.__year = self.__validate(day,month,year)
        self.format = format
        self.__word = word
        
        self.__evaluate_date()
    
    
    def __dayh(self, digit):
        if int(digit) == 1:
            return 'st'
        elif int(digit) == 2:
            return 'nd'
        elif int(digit) == 3:
            return 'rd'
        else:
            return 'th'
    
    def __str__(self):
        
        if self.__word:
            return self.months[int(self.__month)] + ' ' + self.__day + self.__dayh(str(self.__day)[-1]) + ', ' + self.__year
        return self.__day + self.format[2] + self.__month + self.format[5] +self.__year
    
    def __validate(self,dd,mm,yy):
        dd, mm, yy = dd,mm,yy
        
        ####validations follow####
        if len(str(dd)) > 2:
            raise ValueError('Invalid day value. Length exceeded.')
        
        if len(str(mm)) > 2:
            raise ValueError('Invalid month value. Length exceeded.')
        
        # if len(str(yy)) < 4:
        #     raise ValueError('Invalid year value. Length exceeded.')
            
        max1=0
        if(mm==1 or mm==3 or mm==5 or mm==7 or mm==8 or mm==10 or mm==12):
            max1=31
        elif(mm==4 or mm==6 or mm==9 or mm==11):
            max1=30
        elif(yy%4==0 and yy%100!=0 or yy%400==0):
            max1=29
        else:
            max1=28
        
        if mm<1 or mm>12:
            raise ValueError('Invalid month value. Accepted range [1,12]')
        elif dd<1 or dd>max1:
            raise ValueError('Invalid day value.')
        
        ####Validations end here#####
        return str(dd),str(mm),str(yy)
        
    
    def __evaluate_date(self):
        if len(self.__day) != 2:
            self.__day = '0' + self.__day
        if len(self.__month) != 2:
            self.__month = '0' + self.__month
    
    
    def toggle_word(self):
        if self.__word:
            self.__word = False
        else:
            self.__word = True
            
        return self
    
    def __getitem__(self, key):
        """
        Key reference:-
            name  | key 
            -------------
            day   | 'd', 'day', 0
            month | 'm', 'month', 1
            year  | 'y', 'year', 2
        """
        if key in ['d', 0, 'day', -3]:
            return self.__day
        elif key in ['m', 1, 'month', -2]:
            return self.__month
        elif key in ['y', 2, 'year', -1]:
            return self.__year
        else:
            raise ValueError("Key value is wrong.")
        
        
    def __setitem__(self, key, value):
        """
         Key reference:-
            name  | key 
            -------------
            day   | 'd', 'day', 0
            month | 'm', 'month', 1
            year  | 'y', 'year', 2
        """
        d = int(self.__day)
        m = int(self.__month)
        y = int(self.__year)
        
        if key in ['d', 0, 'day', -3]:
            self.__day, self.__month, self.__year = self.__validate(value, m, y)
        elif key in ['m', 1, 'month', -2]:
            self.__day, self.__month, self.__year = self.__validate(d, value, y)
        elif key in ['y', 2, 'year', -1]:
            self.__day, self.__month, self.__year = self.__validate(d, m, value)
        else:
            raise ValueError("Key value is wrong.")
        
        self.__evaluate_date()
        

    def to_date(self, value, format='%d/%m/%y'):
        """
            Convert the date in string to date format
        """

### Initialisation

to initialise a date class it requires that you at least give it three inputs of `day`, `month` and `year` to have a non-trivial date. Even if you did not give values the validation methods built in the date class will raise errors for the defaulting integer values of the parameters. Let's intialise a variable `birthday` with value "19th February 1998"

In [8]:
birthday = date(19,2,1998)
print(birthday)

19/02/1998

In the simplest form of initialization, we only require three parameters with the order of input being day, month and year. There are two more parameters that can be set during initialization.
-   **word** : This decides whether month be printed in numeric form or word form
-   **format** :  This is a python string used to set numerical form date print format. Default value is `"%d/%m%/%y"`

Below are some instances with aforementioned parameters.

In [10]:
joining_day = date(8, 5, 2019, word=True)
print(joining_day)

May 08th, 2019

In the above code cell, setting `word` to `True` leads to changing the print format of the date object to word form. It overrides whatever `format` value has been given as input. Here is another example which demonstrates the use of `format` variable

In [13]:
independence_day = date(15, 8, 1947, format="%d-%m-%y")
print(independence_day)

15-08-1947

### Usecase

One use case of date class is in the form of tabulation data in real life. Say we have tabular data of a bunch of students with some information such as student IDs, names, scores, date of births, date of joining, etc. The date columns can be of string format and can be converted to datetime format from pre-existing form of the table in some format Or data can be generated in date format directly while making tabulation data using date class in python.

Keeping this use case in mind I will keep making modification sto `date` class to suit it. Right now I have an idea to initialise the date object with just a string date time.

In [15]:
import pandas as pd
import numpy as np

In [22]:
names = {0: 'Karry', 1:'Porni', 2:'Ajanta', 3:'Kali', 4:'Rico'}
sids = {0: 1, 1: 3, 2: 5, 3: 9, 4: 10}
dobs = {0: date(19,2,1998), 1: date(20,12,1997), 2: date(31, 5, 1998), 3: date(12, 10, 1998), 4:date(9, 12, 1997)}

In [23]:
pd.DataFrame({"names":names, "sids":sids, "dobs":dobs})

    names  sids        dobs
0   Karry     1  19/02/1998
1   Porni     3  20/12/1997
2  Ajanta     5  31/05/1998
3    Kali     9  12/10/1998
4    Rico    10  09/12/1997